<li class=" p-2 text-light">
	{{name}}
	

	<button class="change-devoured btn-warning" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}REMAKE{{/if}}
	</button>

	<button class="delete-burger btn-warning " data-id="{{this.id}}">DELETE!</button>
</li>
