<li>
	{{name}}
	

	<button class="change-devoured btn" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}REMAKE{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
